.container {
    margin-top: 15vh;
}

a {
    margin-top: 1em;
}

#city {
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 0;
    padding-top: 3.2em;
}

.preloader {
    visibility: hidden;
}
#conditions {
    text-align: center;
    font-size: 1em;
}

.degree {
    font-size: 4em;
}

#content {
    padding-right: 0;
    padding-top: 0;
}

#background {
    background: url(./bg.jpg) no-repeat center center;
    background-size: cover;
}

.active {
    color: black !important;
}

.city_name {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}

.country {
    position: absolute;
    font-size: 0.45em;
    margin: -0.5em 0 0 0.5em;
}